<a href="https://colab.research.google.com/github/dajoeng/Study/blob/main/code/%EC%83%81%EA%B6%8C%EB%B3%80%ED%99%94%EC%A7%80%ED%91%9C_%ED%96%89%EC%A0%95%EB%8F%99%EB%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# 파일 넣어둔 폴더로 이동
%cd /content/drive/My Drive

/content/drive/My Drive

In [ ]:
import pandas as pd
biz_area_chg = pd.read_csv('/content/drive/My Drive/서울시 우리마을가게 상권분석서비스(행정동별 상권변화지표).csv'
                     , nrows=4664, encoding='cp949', dtype='object')
biz_area_chg.tail()

,기준_년_코드,기준_분기_코드,행정동_코드,행정동_코드_명,상권_변화_지표,상권_변화_지표_명,운영_영업_개월_평균,폐업_영업_개월_평균,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균
4659,2019,3,11110560,평창동,HH,정체,113,59,109,53
4660,2019,3,11110550,부암동,LH,상권확장,100,58,109,53
4661,2019,3,11110540,삼청동,LH,상권확장,92,55,109,53
4662,2019,3,11110530,사직동,HH,정체,122,59,109,53
4663,2019,3,11110515,청운효자동,LH,상권확장,100,59,109,53

In [ ]:
#필요한 컬럼만 추출
biz_area_chg = biz_area_chg[['기준_년_코드', '기준_분기_코드','행정동_코드', '행정동_코드_명','상권_변화_지표_명']]
biz_area_chg.tail()

     기준_년_코드 기준_분기_코드    행정동_코드 행정동_코드_명 상권_변화_지표_명
4659    2019        3  11110560      평창동         정체
4660    2019        3  11110550      부암동       상권확장
4661    2019        3  11110540      삼청동       상권확장
4662    2019        3  11110530      사직동         정체
4663    2019        3  11110515    청운효자동       상권확장

In [ ]:
#분기별 분류를 위해 '기준 년'과 '기분 분기' 합침
biz_area_chg['기준_코드'] = biz_area_chg[['기준_년_코드', '기준_분기_코드']].apply('/Q'.join, axis=1)
biz_area_chg.tail()

     기준_년_코드 기준_분기_코드    행정동_코드 행정동_코드_명 상권_변화_지표_명    기준_코드
4659    2019        3  11110560      평창동         정체  2019/Q3
4660    2019        3  11110550      부암동       상권확장  2019/Q3
4661    2019        3  11110540      삼청동       상권확장  2019/Q3
4662    2019        3  11110530      사직동         정체  2019/Q3
4663    2019        3  11110515    청운효자동       상권확장  2019/Q3

In [ ]:
#'기준 년'과 '기분 분기' 열 제거
biz_area_chg = biz_area_chg.drop(['기준_년_코드', '기준_분기_코드'], axis=1)
biz_area_chg.tail()

        행정동_코드 행정동_코드_명 상권_변화_지표_명    기준_코드
4659  11110560      평창동         정체  2019/Q3
4660  11110550      부암동       상권확장  2019/Q3
4661  11110540      삼청동       상권확장  2019/Q3
4662  11110530      사직동         정체  2019/Q3
4663  11110515    청운효자동       상권확장  2019/Q3

In [ ]:
data = biz_area_chg.copy()

In [ ]:
#<행정동별 상권변화지표> 중복 데이터 확인
data = biz_area_chg.groupby('행정동_코드_명').count()
data.sort_values(by='기준_코드', ascending=False)

          행정동_코드  상권_변화_지표_명  기준_코드
행정동_코드_명
신사동           22          22     22
가락1동          11          11     11
옥수동           11          11     11
오류2동          11          11     11
오류1동          11          11     11
...          ...         ...    ...
방학2동          11          11     11
방학1동          11          11     11
방이2동          11          11     11
방이1동          11          11     11
흑석동           11          11     11

[423 rows x 3 columns]

In [ ]:
#중복데이터가 존재하는 신사동 전체 row 확인
sin = biz_area_chg[(biz_area_chg['행정동_코드_명'] == '신사동')]
sin.sort_values(by='행정동_코드', ascending=False)

        행정동_코드 행정동_코드_명 상권_변화_지표_명    기준_코드
66    11680510      신사동       다이나믹  2022/Q1
3034  11680510      신사동       다이나믹  2020/Q2
490   11680510      신사동       다이나믹  2021/Q4
4306  11680510      신사동       다이나믹  2019/Q3
914   11680510      신사동       다이나믹  2021/Q3
1338  11680510      신사동       다이나믹  2021/Q2
3882  11680510      신사동       다이나믹  2019/Q4
1762  11680510      신사동       다이나믹  2021/Q1
2186  11680510      신사동       다이나믹  2020/Q4
3458  11680510      신사동       다이나믹  2020/Q1
2610  11680510      신사동       다이나믹  2020/Q3
3908  11620685      신사동       다이나믹  2019/Q4
3484  11620685      신사동       다이나믹  2020/Q1
3060  11620685      신사동       다이나믹  2020/Q2
2212  11620685      신사동       다이나믹  2020/Q4
2636  11620685      신사동       다이나믹  2020/Q3
92    11620685      신사동       다이나믹  2022/Q1
1788  11620685      신사동       다이나믹  2021/Q1
1364  11620685      신사동       다이나믹  2021/Q2
940   11620685      신사동       다이나믹  2021/Q3
516   11620685      신사동       다이나믹  2021/Q4
4332  11620685      신사동       다이나믹  2019/Q3

In [ ]:
#행정동코드명의 겹치는 신사동 이름변경
for i in biz_area_chg[(biz_area_chg['행정동_코드_명']=='신사동')&(biz_area_chg['행정동_코드']=='11680510')].index:
  biz_area_chg.at[i, '행정동_코드_명'] = '신사동(관악구)'

In [ ]:
for i in biz_area_chg[(biz_area_chg['행정동_코드_명']=='신사동')&(biz_area_chg['행정동_코드']=='11620685')].index:
  biz_area_chg.at[i, '행정동_코드_명'] = '신사동(강남구)'

In [ ]:
 biz_area_chg[(biz_area_chg['행정동_코드_명']=='신사동')]  #변경완료

Empty DataFrame
Columns: [행정동_코드, 행정동_코드_명, 상권_변화_지표_명, 기준_코드]
Index: []

In [ ]:
biz_area_chg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4664 entries, 0 to 4663
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정동_코드      4664 non-null   object
 1   행정동_코드_명    4664 non-null   object
 2   상권_변화_지표_명  4664 non-null   object
 3   기준_코드       4664 non-null   object
dtypes: object(4)
memory usage: 145.9+ KB

In [ ]:
# 행정동_코드 type 변경
biz_area_chg['행정동_코드'] = biz_area_chg['행정동_코드'].astype('int64')
biz_area_chg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4664 entries, 0 to 4663
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정동_코드      4664 non-null   int64
 1   행정동_코드_명    4664 non-null   object
 2   상권_변화_지표_명  4664 non-null   object
 3   기준_코드       4664 non-null   object
dtypes: int64(1), object(3)
memory usage: 145.9+ KB

In [ ]:
#자치구와 행정동 연결을 위한 파일 read
import pandas as pd
gu = pd.read_csv('서울생활이동데이터_서울자치구코드_20210907.csv', usecols=["시군구", "name"], encoding='cp949')
gu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시군구     25 non-null     int64
 1   name    25 non-null     object
dtypes: int64(1), object(1)
memory usage: 528.0+ bytes

In [ ]:
gu.head()

     시군구 name
0  11010  종로구
1  11020   중구
2  11030  용산구
3  11040  성동구
4  11050  광진구

In [ ]:
dong = pd.read_csv('서울생활이동데이터_서울행정동코드_20210907.csv', usecols=["시군구", '읍면동',"name"], encoding='cp949')
dong.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시군구     424 non-null    int64
 1   읍면동     424 non-null    int64
 2   name    424 non-null    object
dtypes: int64(2), object(1)
memory usage: 10.1+ KB

In [ ]:
dong.head()

     시군구      읍면동 name
0  11010  1101053  사직동
1  11010  1101054  삼청동
2  11010  1101055  부암동
3  11010  1101056  평창동
4  11010  1101057  무악동

In [ ]:
# gu & dong 합침
gu_dong = pd.merge(gu, dong, left_on='시군구', right_on='시군구')
gu_dong.head()

     시군구 name_x      읍면동 name_y
0  11010    종로구  1101053    사직동
1  11010    종로구  1101054    삼청동
2  11010    종로구  1101055    부암동
3  11010    종로구  1101056    평창동
4  11010    종로구  1101057    무악동

In [ ]:
gu_dong.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 424 entries, 0 to 423
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시군구     424 non-null    int64
 1   name_x  424 non-null    object
 2   읍면동     424 non-null    int64
 3   name_y  424 non-null    object
dtypes: int64(2), object(2)
memory usage: 16.6+ KB

In [ ]:
#읍면동의 겹치는 신사동 이름변경 필요
for i in gu_dong[(gu_dong['name_y']=='신사동')&(gu_dong['읍면동']==1121068)].index:
  gu_dong.at[i, 'name_y'] = '신사동(관악구)'

In [ ]:
for i in gu_dong[(gu_dong['name_y']=='신사동')&(gu_dong['읍면동']==1123051)].index:
  gu_dong.at[i, 'name_y'] = '신사동(강남구)'

In [ ]:
 gu_dong[(gu_dong['name_y']=='신사동(강남구)')]  #변경완료

       시군구 name_x      읍면동    name_y
357  11230    강남구  1123051  신사동(강남구)

In [ ]:
#상권변화지표와 시군구 데이터 합침
biz_loc = pd.merge(biz_area_chg, gu_dong, left_on='행정동_코드_명', right_on='name_y')
biz_loc.head()

     행정동_코드 행정동_코드_명 상권_변화_지표_명    기준_코드    시군구 name_x      읍면동 name_y
0  11740700     둔촌2동       상권축소  2022/Q1  11250    강동구  1125071   둔촌2동
1  11740700     둔촌2동       상권축소  2021/Q4  11250    강동구  1125071   둔촌2동
2  11740700     둔촌2동       상권축소  2021/Q3  11250    강동구  1125071   둔촌2동
3  11740700     둔촌2동       상권축소  2021/Q2  11250    강동구  1125071   둔촌2동
4  11740700     둔촌2동       상권축소  2021/Q1  11250    강동구  1125071   둔촌2동

In [ ]:
#다중 인덱스(구&동 분류)로 데이터 재구조화
biz_pivot = biz_loc.pivot(index=['name_x','행정동_코드_명'], columns='기준_코드', values='상권_변화_지표_명')
biz_pivot.head()

기준_코드           2019/Q3 2019/Q4 2020/Q1 2020/Q2 2020/Q3 2020/Q4 2021/Q1  \
name_x 행정동_코드_명
강남구    개포1동          정체      정체      정체      정체      정체      정체      정체
       개포2동          정체      정체      정체      정체      정체      정체      정체
       개포4동        상권축소    상권축소    상권축소    상권축소    상권축소    상권축소    상권축소
       논현1동        다이나믹    다이나믹    다이나믹    다이나믹    다이나믹    다이나믹    다이나믹
       논현2동        다이나믹    다이나믹    다이나믹    다이나믹    다이나믹    다이나믹    다이나믹

기준_코드           2021/Q2 2021/Q3 2021/Q4 2022/Q1
name_x 행정동_코드_명
강남구    개포1동          정체      정체      정체      정체
       개포2동          정체      정체      정체      정체
       개포4동        상권축소    상권축소    상권축소    상권축소
       논현1동        다이나믹    다이나믹    다이나믹    다이나믹
       논현2동        다이나믹    다이나믹    다이나믹    다이나믹

In [ ]:
#자치구별로 빈도수가 가장 높은 상권_변화_지표_명 추출
biz_freq = biz_pivot.copy()
biz_freq = biz_freq.groupby('name_x').describe(include='object')
biz_freq.columns.names = ['기준코드', '통계']

기준코드   2019/Q3                   2019/Q4                   2020/Q1         \
통계       count unique   top freq   count unique   top freq   count unique
name_x
강남구         22      4  다이나믹   14      22      4  다이나믹   12      22      4
강동구         18      3  다이나믹   13      18      4  다이나믹   12      18      4
강북구         13      3  다이나믹   10      13      3  다이나믹   10      13      3
강서구         20      3  다이나믹   15      20      3  다이나믹   16      20      3
관악구         21      4  다이나믹   12      21      4  다이나믹   12      21      4
광진구         15      4  다이나믹   11      15      4  다이나믹   12      15      4
구로구         15      4  상권축소    5      15      4  상권축소    4      15      4
금천구         10      4  상권축소    4      10      4  상권축소    4      10      4
노원구         16      4  다이나믹   11      16      4  다이나믹   10      16      4
도봉구         14      3  다이나믹   11      14      3  다이나믹   11      14      3
동대문구        14      4    정체    7      14      4    정체    7      14      4
동작구         15      4  상권확장    5      15      4    정체    4      15      4
마포구         16      3  다이나믹    9      16      3  다이나믹    9      16      3
서대문구        14      4    정체    8      14      4    정체    8      14      4
서초구         18      4    정체    9      18      4    정체    9      18      4
성동구         16      3  상권확장    9      16      3  상권확장    8      16      3
성북구         20      4    정체    9      20      4    정체   10      20      4
송파구         27      4  다이나믹   16      27      4  다이나믹   14      27      4
양천구         18      4  다이나믹   12      18      3  다이나믹   13      18      3
영등포구        18      4  상권축소    6      18      4  상권축소    6      18      4
용산구         16      3    정체   12      16      3    정체   12      16      3
은평구         16      3  다이나믹    8      16      3  다이나믹    8      16      3
종로구         15      3  상권확장    7      15      4    정체    7      15      3
중구          15      3    정체   13      15      2    정체   13      15      2
중랑구         15      3  다이나믹   10      15      2  다이나믹    9      15      2

기준코드    ... 2021/Q3      2021/Q4                   2022/Q1
통계      ...     top freq   count unique   top freq   count unique   top freq
name_x  ...
강남구     ...    다이나믹   12      22      3  다이나믹   13      22      4  다이나믹   12
강동구     ...    다이나믹   11      18      4  다이나믹   11      18      4  다이나믹   11
강북구     ...    다이나믹   10      13      4  다이나믹    9      13      4  다이나믹    9
강서구     ...    다이나믹   15      20      3  다이나믹   14      20      3  다이나믹   15
관악구     ...    다이나믹   12      21      4  다이나믹   12      21      4  다이나믹   13
광진구     ...    다이나믹   11      15      4  다이나믹   11      15      4  다이나믹   11
구로구     ...      정체    6      15      4    정체    6      15      4    정체    6
금천구     ...    다이나믹    3      10      4  다이나믹    3      10      4  다이나믹    3
노원구     ...    다이나믹   10      16      4  다이나믹   10      16      4  다이나믹   10
도봉구     ...    다이나믹   11      14      3  다이나믹   11      14      3  다이나믹   11
동대문구    ...      정체    9      14      4    정체    9      14      4    정체    8
동작구     ...      정체    6      15      4    정체    5      15      4    정체    5
마포구     ...    다이나믹    9      16      3  다이나믹    9      16      3  다이나믹    9
서대문구    ...      정체    8      14      4    정체    7      14      4    정체    7
서초구     ...      정체    9      18      4    정체    9      18      4    정체    9
성동구     ...    상권확장    7      16      3  상권확장    7      16      3  상권확장    7
성북구     ...      정체    9      20      4    정체    9      20      4    정체   10
송파구     ...    다이나믹   15      27      4  다이나믹   15      27      4  다이나믹   15
양천구     ...    다이나믹   13      18      3  다이나믹   13      18      3  다이나믹   13
영등포구    ...      정체    6      18      4  상권축소    5      18      4  상권축소    5
용산구     ...      정체   11      16      3    정체   12      16      3    정체   12
은평구     ...    다이나믹    7      16      4  다이나믹    7      16      4  다이나믹    7
종로구     ...      정체    7      15      4    정체    7      15      4    정체    7
중구      ...      정체   13      15      2    정체   14      15      2    정체   14
중랑구     ...    다이나믹   10      15      3  다이나믹   10      15      3  다이나믹   11

[25 rows x 44 columns]

In [ ]:
#불필요한 columns 제거
biz_freq = biz_freq.drop(['count', 'unique'], axis=1, level=1)
biz_freq

기준코드   2019/Q3      2019/Q4      2020/Q1      2020/Q2      2020/Q3       ...  \
통계         top freq     top freq     top freq     top freq     top freq  ...
name_x                                                                   ...
강남구       다이나믹   14    다이나믹   12    다이나믹   14    다이나믹   14    다이나믹   14  ...
강동구       다이나믹   13    다이나믹   12    다이나믹   11    다이나믹   11    다이나믹   11  ...
강북구       다이나믹   10    다이나믹   10    다이나믹   10    다이나믹   10    다이나믹   10  ...
강서구       다이나믹   15    다이나믹   16    다이나믹   16    다이나믹   17    다이나믹   16  ...
관악구       다이나믹   12    다이나믹   12    다이나믹   12    다이나믹   12    다이나믹   12  ...
광진구       다이나믹   11    다이나믹   12    다이나믹    8    다이나믹    9    다이나믹    9  ...
구로구       상권축소    5    상권축소    4    상권축소    5    상권축소    5      정체    6  ...
금천구       상권축소    4    상권축소    4    상권축소    4    상권축소    5    상권축소    5  ...
노원구       다이나믹   11    다이나믹   10    다이나믹   10    다이나믹   10    다이나믹   11  ...
도봉구       다이나믹   11    다이나믹   11    다이나믹   11    다이나믹   11    다이나믹   11  ...
동대문구        정체    7      정체    7      정체    7      정체    8      정체    8  ...
동작구       상권확장    5      정체    4      정체    4    상권축소    4    상권축소    4  ...
마포구       다이나믹    9    다이나믹    9    다이나믹    9    다이나믹    9    다이나믹    9  ...
서대문구        정체    8      정체    8      정체    8      정체    8      정체    8  ...
서초구         정체    9      정체    9      정체   10      정체   10      정체   10  ...
성동구       상권확장    9    상권확장    8    상권확장    9    상권확장    7    상권확장    8  ...
성북구         정체    9      정체   10      정체   10      정체   10      정체   10  ...
송파구       다이나믹   16    다이나믹   14    다이나믹   15    다이나믹   15    다이나믹   15  ...
양천구       다이나믹   12    다이나믹   13    다이나믹   13    다이나믹   12    다이나믹   14  ...
영등포구      상권축소    6    상권축소    6    상권축소    6      정체    6      정체    7  ...
용산구         정체   12      정체   12      정체   12      정체   12      정체   12  ...
은평구       다이나믹    8    다이나믹    8    다이나믹    8    다이나믹    8    다이나믹    8  ...
종로구       상권확장    7      정체    7    상권확장    7    상권확장    7      정체    7  ...
중구          정체   13      정체   13      정체   12      정체   14      정체   14  ...
중랑구       다이나믹   10    다이나믹    9    다이나믹    8    다이나믹   10    다이나믹   10  ...

기준코드   2021/Q1      2021/Q2      2021/Q3      2021/Q4      2022/Q1
통계         top freq     top freq     top freq     top freq     top freq
name_x
강남구       다이나믹   13    다이나믹   12    다이나믹   12    다이나믹   13    다이나믹   12
강동구       다이나믹   11    다이나믹   11    다이나믹   11    다이나믹   11    다이나믹   11
강북구       다이나믹   10    다이나믹   10    다이나믹   10    다이나믹    9    다이나믹    9
강서구       다이나믹   15    다이나믹   16    다이나믹   15    다이나믹   14    다이나믹   15
관악구       다이나믹   12    다이나믹   12    다이나믹   12    다이나믹   12    다이나믹   13
광진구       다이나믹   11    다이나믹   11    다이나믹   11    다이나믹   11    다이나믹   11
구로구         정체    5      정체    6      정체    6      정체    6      정체    6
금천구       상권축소    4    다이나믹    3    다이나믹    3    다이나믹    3    다이나믹    3
노원구       다이나믹   11    다이나믹   11    다이나믹   10    다이나믹   10    다이나믹   10
도봉구       다이나믹   11    다이나믹   11    다이나믹   11    다이나믹   11    다이나믹   11
동대문구        정체    8      정체    9      정체    9      정체    9      정체    8
동작구         정체    4      정체    5      정체    6      정체    5      정체    5
마포구       다이나믹    9    다이나믹    9    다이나믹    9    다이나믹    9    다이나믹    9
서대문구        정체    8      정체    8      정체    8      정체    7      정체    7
서초구         정체    9      정체    9      정체    9      정체    9      정체    9
성동구       상권확장    7    상권확장    7    상권확장    7    상권확장    7    상권확장    7
성북구         정체    9      정체    9      정체    9      정체    9      정체   10
송파구       다이나믹   15    다이나믹   15    다이나믹   15    다이나믹   15    다이나믹   15
양천구       다이나믹   14    다이나믹   14    다이나믹   13    다이나믹   13    다이나믹   13
영등포구      다이나믹    6    상권축소    5      정체    6    상권축소    5    상권축소    5
용산구         정체   12      정체   12      정체   11      정체   12      정체   12
은평구       다이나믹    8    다이나믹    7    다이나믹    7    다이나믹    7    다이나믹    7
종로구         정체    7      정체    7      정체    7      정체    7      정체    7
중구          정체   13      정체   13      정체   13      정체   14      정체   14
중랑구       다이나믹   11    다이나믹   10    다이나믹   10    다이나믹   10    다이나믹   11

[25 rows x 22 columns]

In [171]:
import json
import pandas as pd
import requests
import folium
# 지도 시각화 참고 링크 : https://teddylee777.github.io/visualization/folium

# 서울 자치구역 json raw파일(githubcontent) 불러오기
r = requests.get('https://raw.githubusercontent.com/southkorea/seoul-maps/master/kostat/2013/json/seoul_municipalities_geo_simple.json')
c = r.content
seoul_geo = json.loads(c)

In [ ]:
#서울 자치구별 boundary 시각화
m = folium.Map(location=[37.559819, 126.963895], zoom_start=11)
folium.GeoJson(seoul_geo, name='지역구').add_to(m)
m

In [177]:
grade = {'다이나믹':0, '정체':1, '상권축소':2, '상권확장':3}
grade = {'다이나믹':0, '정체':1, '상권축소':2, '상권확장':3}
m = folium.Map(location=[37.559819, 126.963895], zoom_start=11)
folium.Choropleth(geo_data=seoul_geo, 
                  data=biz_freq, 
                  columns=('name_x', '2019/Q3'), 
                  key_on = 'feature.properties.구',
                  fill_color=grade, 
                  legend_name='상권_변화_지표_명').add_to(m))

SyntaxError: ignored